In [ ]:
12.  Write an SQL query to find the youngest student in the "student" table ?

In [ ]:
SELECT *
FROM Student
ORDER BY Age ASC
LIMIT 1;