11. Create Student Table with ID as Primary Key and NOT NULL , Name as 20 Characters ,Age as Int value both are NOT NULL and Address have  25 charter And Insert Any 5 Records?

In [ ]:
# Create Student Table
CREATE TABLE Student (
    ID INT PRIMARY KEY NOT NULL,
    Name VARCHAR(20) NOT NULL,
    Age INT NOT NULL,
    Address VARCHAR(25)
);

# Insert 5 Records
INSERT INTO Student (ID, Name, Age, Address)
VALUES
    (1, 'John Doe', 20, '123 Main St'),
    (2, 'Jane Smith', 22, '456 Elm Ave'),
    (3, 'Michael Johnson', 21, '789 Oak Rd'),
    (4, 'Emily Brown', 19, '555 Pine St'),
    (5, 'Robert Davis', 23, '777 Maple Ln');