In [ ]:
17.  Write a SQL to get the cumulative sum of an employeeâ€™s salary over a period of 3 month but exclude the most recent month? The result should be display by id ascending and then by month decending ?

In [ ]:
SELECT ID, Month, Salary,
       SUM(Salary) OVER (PARTITION BY ID ORDER BY Month DESC ROWS BETWEEN 2 PRECEDING AND CURRENT ROW) AS CumulativeSum
FROM (
    SELECT ID, EXTRACT(MONTH FROM SalaryDate) AS Month, Salary
    FROM EmployeeSalary
    WHERE SalaryDate <= (SELECT MAX(SalaryDate) FROM EmployeeSalary) - INTERVAL '1 MONTH'
) AS FilteredSalaries
ORDER BY ID ASC, Month DESC;